
#Resume-title {
    display: inline-block;
    -webkit-transition: color 200ms ease-in;
    -moz-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
  
    -webkit-transition: right 500ms ease-in;
    -moz-transition: right 500ms ease-in;
    transition: right 500ms ease-in;
  
    position: relative;
    left: 15%;
  }
  

