<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>

<div class="container-fluid  p-0 m-0">

    <div class="row w-100 h-100">
        <div class="sidenavbar bg-light col col-sm-2" style="height:(100vh - 10px) !important;overflow-y: scroll;">

            asdasd
        </div>
        <div class="col col-sm-10" style="height:(100vh - 10px) !important;">
            <div class="card p-0 m-0">
                <div ui-view></div>
            </div>
            
        </div>
    </div>
</div>