<form class="form-horizontal" role="form" name="areaform">
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>

    <fieldset ng-disabled="Master.formdisabled(vm.mode);">

        <div class="form-group p-1">


            <div class="card">
                <div class="card-header" style="background-color:#caf0f8;">
                    <i class="bi bi-people-fill"></i>
                    <strong>गट </strong>
                </div>
                <div class="card-body">
                    <div class="col-sm-6 offset-sm-2">
                        <div class="row">



                            <div class="form-group col-sm-6 m-1">
                                <label for="title">गटाचे नाव</label>
                                <div>
                                    <input type="text" name="गावाचे नाव" data-ng-model="vm.entity.areaName"
                                        class="form-control input-sm" autocomplete="off" title="गावाचे नाव" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6 m-1">
                                <label for="title">पंचायत </label>
                                <!-- <div>
                                    <select class="form-select input-sm" ng-model="vm.entity.panchayatCode"
                                        ng-options="item.panchayatCode as item.panchayatName for item in vm.panchayats">
                                    </select>
                                </div> -->

                                <div>
                                    <multicolumncombo list="vm.reference.areas"
                                        datasource="vm.entity" datamember="panchayatCode"
                                        row="vm.reference.selectedarea"
                                        placeholder="Please select area" class="form-control p-1"
                                        displayvalue="panchayatName"
                                        name="sharenm" selectedvalue="panchayatCode"
                                        extralables=""
                                        disablefn="Master.formdisabled(vm.mode)" required>
                                    </multicolumncombo>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </fieldset>
</form>