<!-- <h3>CALCULATE AGE</h3>
<div class="col-sm-4 p-1 offset-sm-1">
  <div class="input-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
        <span class="input-group-text" id="basic-addon1 p-1"> birth of date </span>
      </div>

      <input type="date" name="from date" data-ng-model="vm.entity.from_date" ng-blur="calculateAge()"
        class="form-control input-sm  border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);" />
 
    </div>



    <div class="form-group col-sm-10 m-1">
      <label for="suncast">age :</label>
      <div>
        <input type="text" id="age" name="age" class="form-control input-sm" autocomplete="off"
          ng-model="vm.entity.age" />
      </div>
    </div>
  </div>
</div> -->


<!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h3>CALCULATE AGE (YEAR WISE)</h3>

<div class="row">
  <div class="col-sm-3 p-1 offset-sm-1">
    <div class="input-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
          <span class="input-group-text" id="basic-addon1 p-1">Birth date </span>
        </div>
        <input type="date" name="from date" data-ng-model="vm.entity.birthdate"
          class="form-control input-sm  border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);" />
     
      </div>
    </div>
  </div>
  <div class="col-sm-3 p-1 offset-sm-1">
    <div class="input-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
          <span class="input-group-text" id="basic-addon1 p-1">To date </span>
        </div>
        <input type="date" name="from date" data-ng-model="vm.entity.to_date1" ng-blur="calculateAge1()"
          class="form-control input-sm  border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);" />
      
      </div>
    </div>
  </div>
</div>
</div>

<div class="form-group col-sm-4 offset-sm-1">
  <label for="suncast">age :</label>
  <div>
    <input type="text" id="age" name="age" class="form-control input-sm" autocomplete="off" ng-model="vm.entity.age1" />
  </div>
</div> -->
<!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <!DOCTYPE html>
<html>
<body>

<h2>How many days left to my birtday?</h2>

<form>
  <label>Please enter your birthday: </label>
  <br><br>
  <input id="bday" ng-blur="calculateDays()"  type="date" ng-model="vm.entity.birthdate"/>
  <p id="result"></p>

  <div class="form-group col-sm-4 m-1">
    <label for="suncast">age :</label>
    <div>
      <input type="text" id="dayleft" name="dayleft" class="form-control input-sm" autocomplete="off"
        ng-model="vm.entity.daysleft" />
    </div>
  </div>
</form>
  
</body>
</html>  -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- <h1>COUNTDOWN</h1>
<div class="col-sm-3 p-1 offset-sm-1">
  <div class="input-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
        <span class="input-group-text" id="basic-addon1 p-1">From date </span>
      </div>
      <input type="date" name="from date" data-ng-model="vm.entity.birth" ng-blur="show()"
        class="form-control input-sm  border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);"/>
    
    </div>
  </div>
</div>
<div class="form-group col-sm-10 m-1">
  <label for="suncast">age :</label>
  <div>
    <input type="text" id="age" name="age" class="form-control input-sm" autocomplete="off"              
      ng-model="vm.entity.birth"/>
  </div>
</div> -->
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------
<h1>DAYS</h1>
<div class="col-sm-3 p-1 offset-sm-1">
<div class="input-group mb-3">
  <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
    <span class="input-group-text" id="basic-addon1 p-1"> start date </span>
  </div>

  <input type="date" name="from date" data-ng-model="vm.entity.startDate" ng-blur="countDays()"
    class="form-control input-sm  border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);" />
 
</div>
</div>

<div class="col-sm-3 p-1 offset-sm-1">
  <div class="input-group mb-3">
    <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
      <span class="input-group-text" id="basic-addon1 p-1"> end date </span>
    </div>

    <input type="date" name="from date" data-ng-model="vm.entity.endDate" ng-blur="countDays()"
      class="form-control input-sm  border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);" />

  </div>
  </div> -->

<!-- 
  <div class="form-group col-sm-8 m-1">
    <label for="suncast">Calculate Days :</label>
    <div>
      <input type="text" id="calcDays" name="calcDays" class="form-control input-sm" autocomplete="off"              
        ng-model="vm.entity.calcDays"/>
    </div>
  </div> -->
<!-- -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
<h2>WEEKS</h2>
<div class="col-sm-3 p-1 offset-sm-1">
  <div class="input-group mb-3">
    <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
    <span class="input-group-text" id="basic-addon1 p-1">today Date</span>
    </div>
    <input type="date" name="from date" ng-model="vm.entity.todaydate" ng-blur="WeekNumber()"
    class="form-control input-sm border-left-0" style="border: 2px solid rgba(105, 85, 175, 0.75);"/>
  </div>
</div>

<div class="col-sm-3 p-1 offset-sm-1">
  <div class="input-group mb-3">
    <div class="input-group-prepend border-right-0" style="border: 2px solid rgba(108, 89, 179, 0.75);">
    <span class="input-group-text" id="basic-addon1 p-1">start Date</span>
    </div>
    <input type="date" name="from date" ng-model="vm.entity.startd" ng-blur="WeekNumber()"
    class="form-control input-sm border-left-0" style="border: 2px solid rgba(108, 89, 179, 0.75);"/>
  </div>
</div>

<div class="form-group col-sm-8 m-1">
  <label for="suncast">Week Days :</label>
  <div>
    <input type="text" id="calcDays" name="calcDays" class="form-control input-sm"  autocomplete="off"              
      ng-model="vm.entity.calcweek"/>
  </div>
</div> -->

<!-- <style>
  .seperator {
    height: 70px;
    border-left: 3px rgb(74, 143, 211) solid;
  }
</style> -->

<!-- <style>
  .seperator {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }
</style> -->