<form class="form-horizontal" role="form" name="memberrequestform">
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>

    <fieldset ng-disabled="Master.formdisabled(vm.mode);">

        <div class="form-group p-1">


            <div class="card">
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-person-circle"></i>
                    <strong> अपूर्ण सभासद</strong>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-4 offset-sm-1">
                            <div class="row  p-1">

                                <div class="form-group col-sm-8 ">
                                    <label for="title">सभासद नंबर</label>
                                    <div>
                                        <input type="text" id="amember_no" name="amember_no"
                                            class="form-control input-sm" placeholder="स्वयं क्रमांक"
                                            ng-model="vm.entity.regCode" numbers-only />
                                    </div>
                                </div>
                                <div class="form-group col-sm-8 ">
                                    <label for="title">तारीख </label>
                                    <div>
                                        <input type="date" id="amember_dt" name="amember_dt"
                                            class="form-control input-sm" ng-model="vm.entity.reqDt" />
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="member_name">सभासदाचे नाव</label>
                                    <div>
                                        <input type="text" id="member_name" name="member_name"
                                            class="form-control input-sm" ng-model="vm.entity.shName" />
                                    </div>
                                </div>

                                <!-- ng-options="item.value as item.name for item in txn_type"
                             -->


                                <div class="form-group col-sm-12">
                                    <label for="sharetype">शेअरस प्रकार </label>
                                    <!-- <div>
                                        <select class="form-select input-sm" ng-model="vm.entity.shType"
                                            ng-options="item.shTypeCode as item.shTypeName for item in vm.ShareTypes">
                                        </select>
                                    </div> -->
                                    <div>
                                        <multicolumncombo list="vm.reference.shares" datasource="vm.entity"
                                            datamember="shType" row="vm.reference.selectedshare"
                                            placeholder="Please select Share" class="form-control p-1"
                                            displayvalue="shTypeName" name="sharenm" selectedvalue="shTypeCode"
                                            extralables="" disablefn="Master.formdisabled(vm.mode)" required>
                                        </multicolumncombo>



                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="mbrAddress">
                                        पत्ता
                                    </label>
                                    <div>
                                        <textarea id="mbrAddress" class="form-control" autocomplete="off"
                                            ng-model="vm.entity.shAddress" style="width: 373px; height: 100px;">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="village">गाव</label>
                                    <!-- <div>
                                        <select class="form-select input-sm" ng-model="vm.entity.cityCode"
                                            ng-options="item.cityCode as item.cityName for item in vm.Places">
                                        </select>
                                    </div> -->
                                    <div>
                                        <multicolumncombo list="vm.reference.Places" datasource="vm.entity"
                                            datamember="cityCode" row="vm.reference.selectedplace"
                                            placeholder="Please select place" class="form-control p-1"
                                            displayvalue="cityName" name="areanm" selectedvalue="cityCode"
                                            extralables="" disablefn="Master.formdisabled(vm.mode)" required>
                                        </multicolumncombo>



                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="nominee">वारसदार</label>
                                    <div>
                                        <input type="text" id="nominee" name="nominee" autocomplete="off"
                                            ng-model="vm.entity.shNominee" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="nominee_relation">
                                        वारसदाराशी नाते
                                    </label>
                                    <div>
                                        <input type="text" id="nominee_ralation" name="nominee_ralation"
                                            autocomplete="off" ng-model="vm.entity.shNomineeRelation"
                                            class="form-control input-sm" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-4  offset-sm-1">
                            <div class="row">

                                <div class="form-group col-sm-12">
                                    <label for="designation">हुद्दा </label>
                                    <!-- <div>
                                        <select class="form-select input-sm" ng-model="vm.entity.dsgnCode"
                                            ng-options="item.dsgnCode as item.designationName for item in   vm.Designations">
                                        </select>
                                    </div> -->
                                    <div>
                                        <multicolumncombo list="vm.reference.Designations" datasource="vm.entity"
                                            datamember="dsgnCode" row="vm.reference.selecteddesignation"
                                            placeholder="Please select designation" class="form-control p-1"
                                            displayvalue="designationName" name="designationnm" selectedvalue="dsgnCode"
                                            extralables="" disablefn="Master.formdisabled(vm.mode)">
                                        </multicolumncombo>



                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="occupation">व्यवसाय</label>
                                    <!-- <div>
                                        <select class="form-select input-sm" ng-model="vm.entity.ocpName" 
                                            ng-options="item.ocpCode as item.ocpName for item in vm.Occupations">
                                        </select>
                                    </div> -->

                                    <div>
                                        <multicolumncombo list="vm.reference.Occupations" datasource="vm.entity"
                                            datamember="ocpCode" row="vm.reference.selectedoccupations"
                                            placeholder="Please select occupations" class="form-control p-1"
                                            displayvalue="ocpName" name="occupationsnm" selectedvalue="ocpCode"
                                            extralables="" disablefn="Master.formdisabled(vm.mode)">
                                        </multicolumncombo>



                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="cast">जात</label>
                                    <!-- <div>
                                        <select class="form-select input-sm" id="cast" name="cast" ng-model="vm.entity.castCode"
                                            ng-options="item.castCode as item.castName for item in vm.Religions">
                                        </select>
                                    </div> -->
                                    <div>
                                        <multicolumncombo list="vm.reference.Religions" datasource="vm.entity"
                                            datamember="castCode" row="vm.reference.selectedreligions"
                                            placeholder="Please select religions" class="form-control p-1"
                                            displayvalue="castName" name="religionsnm" selectedvalue="castCode"
                                            extralables="" disablefn="Master.formdisabled(vm.mode)" required>
                                        </multicolumncombo>



                                    </div>
                                </div>


                                <div class="form-group col-sm-6">
                                    <label for="gender">
                                        पु./स्त्री

                                    </label>
                                    <!-- <div>
                                        <select class="form-select input-sm" id="Gender" name="Gender"
                                            ng-model="vm.entity.gender"
                                            ng-options="item.value as item.name for item in Gender">
                                        </select>
                                    </div> -->
                                    <div>
                                        <multicolumncombo list="Gender" datasource="vm.entity" datamember="gender"
                                            row="vm.reference.selectedGender" placeholder="Please select Gender"
                                            class="form-control p-1" displayvalue="name" name="Gendernm"
                                            selectedvalue="value" extralables=""
                                            disablefn="Master.formdisabled(vm.mode)" required>
                                        </multicolumncombo>



                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="age">
                                        वय
                                    </label>
                                    <div>
                                        <input type="text" id="age" name="age" class="form-control input-sm text-end"
                                            ng-model="vm.entity.age" autocomplete="on" numbers-only />
                                    </div>
                                </div>

                                <div class="form-group col-sm-10">
                                    <label for="bankbranch">बँक(शाखा)</label>
 
                                    <div>
                                        <multicolumncombo list="vm.reference.BankBranches" datasource="vm.entity"
                                            datamember="bankCode" row="vm.reference.selectedbankBranche"
                                            placeholder="Please select bankBranche" class="form-control p-1"
                                            displayvalue="branchName" name="bankBranchenm" selectedvalue="branchCode"
                                            extralables="" disablefn="Master.formdisabled(vm.mode)">
                                        </multicolumncombo>



                                    </div>
                                </div>

                                <div class="form-group col-sm-10">
                                    <label for="account_no">
                                        खाते नंबर
                                    </label>
                                    <div>
                                        <input type="text" id="account_no" name="account_no" autocomplete="off"
                                            ng-model="vm.entity.bankAccNo" class="form-control input-sm " />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </fieldset>
</form>