<form class="form-horizontal" role="form" name="paymentform">
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>


    <fieldset ng-disabled="Master.formdisabled(vm.mode);">

        <div class="form-group p-1">

            <div class="card">
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-receipt"></i>
                    <strong>पगार</strong>
                </div>

                <div class="card-body">

                     <div class="col-sm-6 offset-sm-2 ">
                        <div class="row">


                            <!-- <div class="form-group col-sm-6 m-1">
                                <label for="title"></label>
                                <div>
                                    <input type="text" name="गावाचे नाव" data-ng-model="vm.entity.vch_id"
                                        class="form-control input-sm" autocomplete="off" title="गावाचे नाव" />
                                </div>
                            </div> -->




                            <!-- <div class="form-group col-sm-6 m-1">
                                <label for="title">नंबर</label>
                                <div>
                                    <input type="text" name="number" data-ng-model="vm.entity.regCode"
                                        class="form-control input-sm" autocomplete="off"  />
                                </div>
                            </div> -->

                            <div class="form-group col-sm-6 m-1">
                                <label for="title"> अपूर्ण सभासद नाव</label>
                                <div>
                                    <select class="form-control input-sm" ng-model="vm.entity.regCode"
                                    ng-options="item.regCode as item.shName for item in vm.MemberRequests">
                                    </select>
                                </div>
                               
                            </div>



                            <div class="form-group col-sm-6 m-1">
                                <label for="date">तारीख</label>

                                <div>
                                    <input type="date" name="date" ng-model="vm.entity.vchDate"
                                        class="form-control input-sm" id="date" placeholder="Date"
                                        autocomplete="off" title="Date"/>
                                </div>
                            </div>
                            
                            <div class="form-group col-sm-6 m-1">
                                <label for="title">रक्कम</label>
                                <div>
                                    <input type="text" name="amount" data-ng-model="vm.entity.amt"
                                        class="form-control input-sm text-end" autocomplete="off" title="amount" 
                                        data-format="currency" data-fraction="2"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 m-1">
                                    <label for="address">तपशील</label>
                                    <div>
                                        <textarea id="Address" class="form-control" autocomplete="off"
                                            ng-model="vm.entity.narration" style="width: 300px; height: 97px;" >
                                    </textarea>
                                    </div>
                                </div>
                              
                            </div>
                            
                        </div>
                    </div>







                </div>

            </div>


        </div>



    </fieldset>



</form>