<form class="form-horizontal" role="form" name="scheduldcastform">
    
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>

    <fieldset ng-disabled="Master.formdisabled(vm.mode);">

        <div class="form-group p-1">

            <div class="card ">
                <!-- style="background-color:#e4e4e4" -->
                <div class="card-header"  style="background-color:#caf0f8">
                    <i class="bi bi-cast"></i>
                    <strong>गाव</strong>

                </div>
                <!-- #abc135 -->
                 <!-- <div class="row">
                        <div >
                            <div class="row">

                                <div class="form-group col-sm-3">
                                    <label for="title">
                                       शहराचा नंबर 
                                    </label>
                                    <div>
                                        <input type="text" name="शहराचा नंबर " disabled
                                            data-ng-model="" class="form-control input-sm"
                                            id="" placeholder="शहराचा नंबर" autocomplete="off"
                                            title="शहराचा नंबर" />
                                    </div>
                                </div>

                                    <div class="form-group col-sm-3">
                                        <label for="title">जागेचा नंबर </label>
                                         <select class="form-control input-sm" id="txn_type" name="txn_type"
                                            ng-model="vm.entity.txn_type"
                                            ng-options="item.value as item.name for item in txn_type"
                                           >
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="title">शहराचे नाव </label>
                                        <div>
                                            <input type="text" name="" data-ng-model=""
                                                class="form-control input-sm" id="" placeholder="शहराचे नाव"
                                                autocomplete="off" title="शहराचे नाव" />
                                        </div>
                                    </div>
                            </div>
                            <div class="row ">
                                <div class="form-group col-sm-3">
                                    <label for="title">तालुका </label>
            
                                    <div>
                                        <input type="text" name="तालुका"
                                            data-ng-model="" class="form-control input-sm"
                                            id="" placeholder="तालुका" autocomplete="off"
                                            title="तालुका" />
                                    </div>
                                </div>
            
                                <div class="form-group col-sm-3">
                                    <label for="title">जिल्हा </label>
                                    <div>
                                        <input type="text" name="जिल्हा"
                                            data-ng-model="" class="form-control input-sm"
                                            id="" placeholder="जिल्हा" autocomplete="off"
                                            title="जिल्हा" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="title">राज्य </label>
            
                                    <div>
                                        <input type="text" name="राज्य"
                                            data-ng-model="" class="form-control input-sm"
                                            id="" placeholder="राज्य" autocomplete="off"
                                            title="राज्य" />
                                    </div>
                                </div>


                            </div>
                            </div>
                        </div> -->

                
                <div class="card-body">
                      <div class="col-sm-6 offset-sm-2">
                            <div class="row">
                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">गावाचे नाव </label>
                                    <div>
                                        <input type="text" id="city_name" name="city_name" 
                                            class="form-control input-sm"
                                            autocomplete="off" ng-model="vm.entity.city_name"
                                            />
                                         </div>
                                </div>

                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">
                                      तालुका 
                                    </label>
                                    <div>
                                        <input type="text" id="तालुका" name="तालुका"
                                            class="form-control input-sm"
                                            autocomplete="off" ng-model="vm.entity.taluka"
                                           />
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 m-1">
                                    <label for="memberid">जिल्हा </label>
                                    <div>
                                        <input type="text" id="जिल्हा" name="जिल्हा"
                                            class="form-control input-sm" ng-model="vm.entity.district"
                                             autocomplete="off"
                                           />
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">राज्य</label>
                                <div>
                                    <input type="text" id="राज्य" name="राज्य" 
                                        class="form-control input-sm"
                                        ng-model="vm.entity.State"
                                         autocomplete="off"
                                         />
                                </div>
                                </div>
                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">गट</label>
                                    <div>
                                        <select class="form-control input-sm" id="area_id" name="area_id" ng-model="vm.entity.area_id"
                                        ng-options="item.value as item.name for item in txn_type"
                                        >
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                       
                    

                   






                </div>

            </div>

        </div>


        


    </fieldset>



</form>