<form class="form-horizontal" role="form" name="memberform">
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>

    <fieldset ng-disabled="Master.formdisabled(vm.mode);">
        <div class="form-group p-1">
            <div class="card">
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-person-circle"></i>
                    <strong> पूर्ण सभासद</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4  offset-sm-1">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="member_no">अपूर्ण सभासद नंबर</label>
                                    <div>
                                        <input type="text" id="member_number" name="member_number"
                                            ng-change="getMemberRequestdetail()" class="form-control input-sm"
                                            ng-Model="vm.entity.regCode" numbers-only />
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="member_no">सभासद नंबर</label>
                                    <div>
                                        <input type="text" id="member_no" name="menber_no" class="form-control input-sm" disabled
                                            ng-Model="vm.entity.reqCode" numbers-only />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-sm-12">
                                <label for="member_name">सभासदाचे नाव</label>
                                <div>
                                    <input type="text" id="member_name" name="member_name" class="form-control input-sm"
                                        ng-model="vm.entity.shName" />
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label for="sharetype">शेअरस प्रकार </label>
                                <div>
                                    <select class="form-control input-sm" ng-model="vm.entity.shType"
                                        ng-options="item.shTypeCode as item.shTypeName for item in vm.ShareTypes">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label for="mbrAddress">
                                    पत्ता
                                </label>
                                <div>
                                    <textarea id="mbrAddress" class="form-control" autocomplete="off"
                                        ng-model="vm.entity.shAddress" style="width: 373px; height: 100px;">
                                    </textarea>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label for="village">गाव</label>
                                <div>
                                    <select class="form-control input-sm" ng-model="vm.entity.cityCode"
                                        ng-options="item.cityCode as item.cityName for item in vm.Places">
                                    </select>
                                </div>
                            </div>


                            <div class="form-group col-sm-12">
                                <label for="nominee">वारसदार</label>
                                <div>
                                    <input type="text" id="nominee" name="nominee" autocomplete="off"
                                        ng-model="vm.entity.shNominee" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="nominee_relation">
                                    वारसदाराशी नाते
                                </label>
                                <div>
                                    <input type="text" id="nominee_ralation" name="nominee_ralation" autocomplete="off"
                                        ng-model="vm.entity.shNomineeRelation" class="form-control input-sm" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4 offset-sm-1">
                            <div class="row m-3">

                                <div class="form-group col-sm-12">
                                    <label for="designation">हुद्दा </label>
                                    <div>
                                        <select class="form-control input-sm" ng-model="vm.entity.dsgnCode"
                                            ng-options="item.dsgnCode as item.designationName for item in   vm.Designations">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="occupation">व्यवसाय</label>
                                    <div>
                                        <select class="form-control input-sm" ng-model="vm.entity.ocpName"
                                            ng-options="item.ocpCode as item.ocpName for item in vm.Occupations">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="cast">जात</label>
                                    <div>
                                        <select class="form-control input-sm" ng-model="vm.entity.castCode"
                                            ng-options="item.castCode as item.castName for item in vm.Religions">
                                        </select>
                                    </div>
                                </div>



                                <div class="form-group col-sm-6">
                                    <label for="gender">
                                        पु./स्त्री

                                    </label>
                                    <div>
                                        <select class="form-control input-sm" id="txn_type" name="txn_type"
                                            ng-model="vm.entity.gender"
                                            ng-options="item.value as item.name for item in Gender">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="age">
                                        वय
                                    </label>
                                    <div>
                                        <input type="text" id="age" name="age" class="form-control input-sm text-end"
                                            ng-model="vm.entity.age" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-10">
                                    <label for="date">मंजूरी तारीख</label>
                                    <div>
                                        <input type="date" name="date" data-ng-model="vm.entity.regDt"
                                            class="form-control input-sm" id="date" autocomplete="off" title="" />
                                    </div>
                                </div>

                                <div class="form-group col-sm-10">
                                    <label for="number">
                                        ठराव क्र.
                                    </label>
                                    <div>
                                        <input type="text" id="no" name="no" autocomplete="off"
                                            ng-model="vm.entity.meetingRefNo" class="form-control input-sm text-end" />
                                    </div>
                                </div>


                                <div class="form-group col-sm-10">
                                    <label for="bankbranch">बँक(शाखा)</label>

                                    <div>
                                        <select class="form-control input-sm" id="bankName" name="bankName"
                                            ng-model="vm.entity.bankCode"
                                            ng-options="item.bankCode as item.branchName for item in vm.BankBranches">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-10">
                                    <label for="account_no">
                                        खाते नंबर
                                    </label>
                                    <div>
                                        <input type="text" id="account_no" name="account_no" autocomplete="off"
                                            ng-model="vm.entity.bankAccNo" class="form-control input-sm text-end"
                                            numbers-only />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card m-2">
                        <div class="card-header" style="background-color:#caf0f8">
                            <i class="fa fa-edit"></i><strong>सभासद</strong>
                            <!-- <div class="card-actions">
                                <button class="btn btn-minimize" type="button" data-toggle="collapse"
                                data-target="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1">
                                <i class="icon-arrow-down"></i>
                            </button> -->

                        </div>

                        <div class="card-body collapse show" id="collapseExample12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #ede2ac">
                                        <td class="text-center">ठराव क्रमांक.</td>
                                        <td> वाटप क्रमांक.</td>
                                        <td>शेअर संख्या</td>
                                        <td>शेअर रक्कम</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <!-- <tr data-ng-repeat="item in vm.entity.sh003.acc003">
    
                                        <td>{{item.challan_no}}</td>
                                        <td>{{item.vch_date |date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.mst011.Acc_name}}</td>
                                        <td class="text-right">{{item.amount|number : 2}}</td>
                                        <td>{{item.nar}}</td>
    
                                       
                                    </tr> -->
                                </tbody>
                            </table>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </fieldset>
</form>