<form class="form-horizontal" role="form" name="scheduldcastform">
    <div class="form-body p-1">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>
    <fieldset>
        <div class="form-group p-1">
            <div class="card">
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-r-circle-fill"></i>
                    <strong>धर्म(जात)</strong>
                </div>
                <div class="card-body">
                 
                        <div class="col-sm-6 offset-sm-2">
                            <div class="row">
                                <!-- <div class="form-group col-sm-6 m-1 ">
                                    <label for="title">जात क्रमांक</label>
                                    <div>
                                        <input type="text" id="cast_id" name="cast_id"  disabled
                                           class="form-control input-sm"
                                            ng-model="vm.entity.cast_code" autocomplete="off" />
                                    </div>
                                </div> -->
                                <div class="form-group col-sm-6 m-1">
                                    <label for="religion">धर्म </label>
                                    <div>
                                        <input type="text" id="religion" name="religion" class="form-control input-sm" ng-model="vm.entity.religion_name">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 m-1">
                                    <label for="cast">जात </label>
                                    <div>
                                        <input type="text" id="cast" name="cast" class="form-control input-sm" ng-model="vm.entity.cast_name">
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">वर्ग </label>
                                    <div>
                                        <select class="form-control input-sm" id="scheduldcast" name="scheduldcast" ng-model="vm.entity.sc_code"
                                        ng-options="item.value as item.name for item in txn_type"
                                        >
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
            </div>
        </div>
        </fieldset>
</form>