<form class="form-horizontal" role="form" name="religionform">
    <div class="form-body p-1">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>
    <fieldset ng-disabled="Master.formdisabled(vm.mode);">
        <div class="form-group p-1">
            <div class="card">
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-r-circle-fill"></i>
                    <strong>धर्म(जात)</strong>
                </div>
                <div class="card-body">
                 
                        <div class="col-sm-6 offset-sm-2">
                            <div class="row">
                                <!-- <div class="form-group col-sm-6 m-1 ">
                                    <label for="title">जात क्रमांक</label>
                                    <div>
                                        <input type="text" id="cast_id" name="cast_id"  disabled
                                           class="form-control input-sm"
                                            ng-model="vm.entity.castCode"religionName autocomplete="off" />
                                    </div>
                                </div> -->
                                <div class="form-group col-sm-6 m-1">
                                    <label for="religion">धर्म </label>
                                    <div>
                                        <input type="text" id="religion" name="religion" class="form-control form-control-sm" ng-model="vm.entity.religionName">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 m-1">
                                    <label for="cast">जात </label>
                                    <div>
                                        <input type="text" id="cast" name="cast" class="form-control form-control-sm" ng-model="vm.entity.castName">
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">वर्ग</label>
                                    <!-- <div>
                                        <select class="form-select input-sm" id="scheduldcast" name="scheduldcast" ng-model="vm.entity.scCode"
                                        ng-options="item.scCode as item.scName for item in  vm.ScheduldCasts"
                                        >
                                        </select>
                                    </div> -->

                                    <div>
                                        <multicolumncombo list="vm.reference.ScheduldCasts"
                                              datasource="vm.entity" datamember="scCode"
                                              row="vm.reference.selectedscheduldCasts"
                                              placeholder="Please select scheduldCasts" class="form-control p-1"
                                              displayvalue="scName"
                                              name="वर्ग" selectedvalue="scCode"
                                              extralables=""
                                              disablefn="Master.formdisabled(vm.mode)" required>
                                          </multicolumncombo> 
          
          
                                       
                                      </div>
                                </div>
                            </div>
                        </div>
                   </div>
            </div>
        </div>
        </fieldset>
</form>

<style>
    .form-group{
        margin-bottom: 15px !important;
    }
</style>