<form class="form-horizontal" role="form" name="scheduldcastform">
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>
    <fieldset ng-disabled="Master.formdisabled(vm.mode);">
        <div class="form-group p-1">
            
            <div class="card ">
                <!-- style="background-color:#e4e4e4" -->
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-cast"></i>
                    <strong>वर्ग (जात) </strong>

                </div> 
                <!-- #abc135 -->
                <div class="card-body">

                 
                        <div class="col-sm-6 offset-sm-2">
                            <div class="row">

                                <div class="form-group col-sm-6 m-1">
                                    <label for="title"
                                    data-ng-class="{'has-warning':receiptform.txn_type.$error.required}">
                                   वर्ग 
                                </label>
                                    <div>
                                        <select class="form-control input-sm" id="area_id" name="area_id" ng-model="vm.entity.sc_code"
                                        ng-options="item.value as item.name for item in txn_type"
                                        >
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-sm-6 m-1">
                                    <label for="title">वर्गाचे नाव</label>
                                    <div>
                                        <input type="text" id="area_name" name="area_name"  
                                         class="form-control input-sm" ng-model="vm.entity.sc_name">
                                    </div>
                                </div>

                             </div>
                        </div>
                   
                  </div>
            </div>
      </div>
 </fieldset>
</form>




