<form class="form-horizontal" role="form" name="shareissueform">
    <div class="form-body p-0">
        <div>
            <navbar ng-model="vm.mode" navtype="MU" actionfn="vm.action()"></navbar>
        </div>
    </div>

    <fieldset ng-disabled="Master.formdisabled(vm.mode);">


        <div class="form-group p-1">
            <div class="card ">
                <!-- style="background-color:#e4e4e4" -->
                <div class="card-header" style="background-color:#caf0f8">
                    <i class="bi bi-share-fill"></i>
                    <strong>शेअर वाटप</strong>
                </div>
                <!-- #abc135offset-sm-2 -->
                <div class="card-body">
                    <div class="row m-2">
                        <div class="col-sm-4 offset-sm-1">
                            <div class="p-1">
                                <div class="form-group col-sm-6 m-2">
                                    <label for="number">नंबर</label>
                                    <div>
                                        <input type="text" id="number" name="number" class="form-control input-sm"
                                            ng-model="vm.entity.vchId" numbers-only disabled />
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 m-1">
                                    <label for="title"> सभासद नाव</label>
                                    <div>
                                        <select class="form-control input-sm" ng-model="vm.entity.memberId"
                                        ng-options="item.regCode as item.shName for item in vm.Members">
                                        </select>
                                    </div>
                                   
                                </div>


                                <div class="form-group col-sm-6 m-2">
                                    <label for="date">तारीख</label>

                                    <div>
                                        <input type="date" name="date" ng-model="vm.entity.vchDate"
                                            class="form-control input-sm" id="date" placeholder="Date"
                                            autocomplete="off" title="Date"/>
                                    </div>
                                </div>

                              
                                <div class="form-group col-sm-8 m-2">
                                
                                    <label for="number">
                                     ठराव क्र.
                                    </label>
                                    <div>
                                        <input type="text" id="number" name="number" autocomplete="off"
                                            ng-model="vm.entity.meetingRefNo" class="form-control input-sm" />
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="mbrAddress">
                                        पत्ता
                                    </label>
                                    <div>
                                        <textarea id="mbrAddress" class="form-control" autocomplete="off"
                                            ng-model="vm.entity.narration" style="width: 373px; height: 100px;">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="nominee">वारसदार</label>
                                    <div>
                                        <input type="text" id="nominee" name="nominee" autocomplete="off"
                                            ng-model="vm.entity.nomineeName" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-8 m-2">
                                    <label for="nominee">वारसदाराचा पत्ता</label>
                                  
                                    <div>
                                        <textarea id="Address" class="form-control" autocomplete="off"
                                            ng-model="vm.entity.nomeeneAddress" style="height: 50px; width: 309px;">
                                    </textarea>
                                    </div>
                                </div>
                                <div class="form-group col-sm-8 m-2">
                                    <label for="nominee_relation">
                                        वारसदाराशी नाते
                                    </label>
                                    <div>
                                        <input type="text" id="nominee_ralation" name="nominee_ralation"
                                            autocomplete="off" ng-model="vm.entity.nomineeRelation"
                                            class="form-control input-sm"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-8 m-2">
                                    <label for="cert_no">
                                        प्रमाणपत्र क्रमांक

                                    </label>
                                    <div>
                                        <input type="text" id="cert_no" name="cert_no"
                                            autocomplete="off" ng-model="vm.entity.certNo"
                                            class="form-control input-sm" />
                                    </div>
                                </div>
                                  </div>
                        </div>

                        <div class="col-sm-4 offset-sm-1 m-2">

                            <div>
                                <div class="form-group col-sm-10">
                                    <label for="bankbranch">बँक(शाखा)</label>

                                    <div>
                                        <select class="form-control input-sm" id="bankName" name="bankName"
                                            ng-model="vm.entity.bankCode"
                                            ng-options="item.bankCode as item.branchName for item in vm.BankBranches"
                                            >
                                        </select>
                                    </div>
                                </div>

                           

                                <div class="form-group col-sm-10 m-2">
                                    <label for="account_no">
                                        खाते नंबर
                                    </label>
                                    <div>
                                        <input type="text" id="account_no" name="account_no" autocomplete="off"
                                            ng-model="vm.entity.bankAccNo" class="form-control input-sm text-end" />
                                    </div>
                                </div>

                                <!-- <div class="form-group col-sm-10 m-2">
                                    <label for="total_balance">शिल्लक रक्कम</label>
                                    <div>
                                        <input type="text" id="total_balance" name="total_balance" autocomplete="off"
                                            disabled ng-model="vm.entity.total_balance"
                                            class="form-control input-sm text-end" data-format="currency"
                                            data-fraction="2" />
                                    </div>
                                </div> -->
                                <div class="form-group col-sm-10 m-2">
                                    <label for="shareQty">प्रति शेअर किंमत</label>
                                    <div>
                                        <input type="text" id="quantity" name="quantity"
                                            class="form-control input-sm text-end" ng-model="vm.entity.shareQty"ng-change="amount()"
                                            numbers-only/>
                                    </div>
                                </div>

                                <div class="form-group col-sm-10 m-2">
                                    <label for="shareRate">एकूण किंमत</label>

                                    <div>
                                        <input type="text" id="rate" name="rate" class="form-control input-sm text-end"
                                        ng-change="amount()" ng-model="vm.entity.shareRate" data-format="currency" data-fraction="2" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-10 m-2">
                                    <label for="shareAmt">शेअर रक्कम</label>

                                    <div>
                                        <input type="text" id="share_amt" name="share_amt"ng-change="totalamount()"
                                            class="form-control input-sm text-end" ng-model="vm.entity.shareAmt"
                                            data-format="currency" data-fraction="2"
                                            />
                                    </div>
                                </div>

                                <div class="form-group col-sm-10 m-2">
                                    <label for="mbrCharges">
                                        सभासद शुल्क
                                    </label>
                                    <div>
                                        <input type="text" id="member_charge" name="member_charge"
                                            class="form-control input-sm text-end" ng-change="totalamount()" ng-model="vm.entity.mbrCharges" />
                                    </div>
                                </div>

                                <div class="form-group col-sm-10 m-2">
                                    <label for="totalAmt">एकूण रक्कम</label>
                                    <div>
                                        <input type="text" id="total_amount" name="total_amount"
                                            class="form-control input-sm text-end" ng-model="vm.entity.totalAmt"
                                            data-format="currency" data-fraction="2" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                   
                </div>
            </div>
        </div>
    </fieldset>
</form>